.cart-button {
  border: #fff solid 2px;
  padding: 0.5rem;
  background-color: #00415f;
  color: #fff;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.cart-button:hover {
  background-color: #007ab3;
  border: #fff solid 2px;
}

.cart-img {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

.span-control {
  padding: 0 0.5rem;
}
