.meal-item-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.meal-img{
    width: 20%;
    margin-left: 0.3rem;
}

.meal-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meal-info-name{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.add-meal{
    width: 18%;
}

.pizza-img{
    width: 100%;
    height: auto;
    padding-right: 1rem;
}